---
layout: default
---

  <div id="homeid" class="col-sm-3">
    <table class="imgtable"><tr><td>
      <td align="right"> </td> <img src="/images/profile.jpg"  style="float:right" alt="alt text" width="170px" height="185px" />&nbsp;</td>
      </tr></table>
  </div>

  <div id="homeid" class="col-sm-9">
    <td align="left"> </td><p>Huang Jia (黄 佳)<br /> 
      Master student<br /> 
      Department of Automation, <a href="https://www.sjtu.edu.cn/" target=&ldquo;blank&rdquo;>Shanghai Jiao Tong University</a><br />
      
      800 Dongchuan RD. Minhang District, Shanghai, China<br />
      
      <br />
      
      Email: sjtu_huangjia@sjtu.edu.cn <br />
      
      [<a href="https://github.com/sjtuhj" target=&ldquo;blank&rdquo;>Github</a>] [<a href="pdf/resume_en.pdf" target=&ldquo;blank&rdquo;>Resume</a>]  <br />
      
  </div>



  <div id="homeid" class="col-sm-12">
    {{ content }}
  </div>



  